<h1> Мой список задач</h1>
<br>
<br>
<div class="row"> 
  <div class="col-md-8">
    <%= form_with scope: :todo, url: todos_path do |f| %>
      <%= f.text_field :item, required: true, autofocus: true, placeholder: 'Купить хлеб' %>
      <%= f.submit "Ввод", class: 'btn btn-primary' %>
    <% end %>
    <hr>
    <% @todos.each do |todo| %>
      <p id="list"> 
        <%= check_box_tag(:completed)%>
          <p class="item"><%= todo.item %> </p>
          <%= 
            link_to '❌', todo, 
              method: :delete,
              data: { confirm: 'Вы уверены, что хотите удалить задачу?'},
              class: 'btn'
            %> 
      </p>
    <% end %>
  </div>
</div>